<article class="flex flex-col">
  <img src="{{@source}}" alt="{{@articleAlt}}">
  <a href="/" class="font-semibold">Exhibition: {{@hrefTitle}}</a>
  <h2>From {{@date}}</h2>
  <p>{{@article}}</p>
</article>